
# Base de datos MySQL
# MYSQL_DATABASE debe ser "backend": es el nombre que usa db.sql
MYSQL_ROOT_PASSWORD=root1234
MYSQL_DATABASE=backend
MYSQL_USER=gimnasio_user
MYSQL_PASSWORD=Santi123

# Backend
JWT_SECRET=secreto123
